.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  @media (max-width: 970px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.copyright {
  opacity: 0.74;
  font-size: 16px;
  color: #848D9D;
}

.tagline {
  opacity: 0.74;
  font-size: 12px;
  color: #848D9D;
}

.footerRight a {
  opacity: 0.74;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  color: #848D9D;
  letter-spacing: 0.68px;
  text-align: right;
  line-height: 36px;
}