.container {
  position: relative;
  height: calc(100vh + 3000px);
  .sprite {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .correction {
    width: 810px;
    height: 546px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(90deg, rgba(229, 235, 246, 0.2), rgba(229, 235, 246, 0.3), rgba(229, 235, 246, 0.7), rgba(229, 235, 246, 0.6));
    mix-blend-mode: overlay;
  }
  .feather {
    width: 810px;
    height: 546px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // box-shadow: inset 0px 0 600px 62px #E5EBF6, inset 0 0 50px 20px #E5EBF6;
    box-shadow: inset 0 0 50px 120px #E5EBF6;
    @media (max-width: 970px) {
      width: 100%;
      height: calc(100vw / 810 * 546);
      box-shadow: inset 0 0 50px 40px #E5EBF6;
    }
  }
  img {
    width: 100%;
  }
  &:after {
    z-index: 6;
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 25vh;
    background-image: linear-gradient(180deg, rgba(229, 235, 245, 0), rgba(229, 235, 245, 1.00));
  }
}

.scrollWrapper {
  opacity: 0;
}