/*
.container {
  background: #fff;
  padding: 50px;
  width: 266px;
  margin-bottom: 50px;
  img {
    max-height: 50px;
  }
  p {
    opacity: 0.74;
    font-size: 12px;
    color: #848D9D;
    line-height: 21px;
    margin: 25px 0;
  }
  a {
    opacity: 0.74;
    font-weight: 500;
    font-size: 10px;
    color: #E5EBF6;
    letter-spacing: 0.9px;
    text-align: center;
    line-height: 21px;
    padding: 15px 30px;
    background-color: #848D9D;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
  }
}
*/

.container {
  position: relative;
  padding-top: 100px;
  min-height: 800px;
  margin-bottom: 100px;
  @media (max-width: 970px) {
    min-height: auto;
    margin-bottom: 0px;
  }
}
.solidimage {
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw * 8 / 13);
  height: 500px;
  @media (max-width: 970px) {
    position: relative;
    top: initial;
    right: initial;
    width: 100%;
  }
}
.greyimage {
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 400px;
  height: 300px;
  width: 400px;
  right: calc(100vw * 6 / 13);
  @media (max-width: 970px) {
    position: relative;
    top: initial;
    right: initial;
    width: 100%;
  }
}
.copy {
  width: calc(100vw * 6 / 13);
  background-color: white;
  margin: 0 0 0 auto;
  position: relative;
  padding: 100px;
  p {
    opacity: 0.74;
    font-size: 16px;
    color: #848D9D;
    line-height: 31.5px;
    margin: 50px 0;
  }
  a {
    opacity: 0.74;
    font-weight: 500;
    font-size: 12px;
    color: #E5EBF6;
    letter-spacing: 1px;
    text-align: center;
    line-height: 21px;
    padding: 20px 40px;
    background-color: #848D9D;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
  }
  @media (max-width: 970px) {
    width: 100%;
    padding: 50px;
  }
}