.container {
  position: absolute;
  top: calc(100vh - 100px - 140px);
  // bottom: 100px;
  right: 50px;
  z-index: 7;
  svg {
    width: 60px;
  }
}

.copy {
  transform: rotate(90deg);
  font-weight: 500;
  font-size: 16px;
  color: #848D9D;
  letter-spacing: 0.07px;
  margin-bottom: 25px;
}