.container {
  position: relative;
  margin: 100px 0;
  height: calc(50vh + 200px);
}

.mood {
  position: absolute;
  top: 0;
  width: calc(900px + ((100vw - 900px) / 2));
  height: 50vh;
  background-size: cover;
  background-position: center;
  @media (max-width: 970px) {
    width: 100%;
  }
}

.entity {
  position: absolute;
  bottom: 0;
  width: 800px;
  // height: 400px;
  height: 300px;
  display: flex;
  @media (max-width: 970px) {
    width: 100%;

  }
}

.image {
  height: 100%;
  width: calc(100% - 300px);
  background-size: cover;
  background-position: center;
}

.info {
  background: #fff;
  height: 300px;
  width: 300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bio {
  opacity: 0.74;
  font-size: 14px;
  color: #848D9D;
  line-height: 21px;
}

.title {
  font-family: "Noe Display";
  font-weight: 500;
  font-size: 18px;
  color: #36393E;
  line-height: 24px;
}

.description {
  opacity: 0.5;
  font-size: 12px;
  color: #848D9D;
}

.left {
  .mood {
    left: 0;
  }
  .entity {
    flex-direction: row;
    left: calc((100vw - 900px) / 2);
    @media (max-width: 970px) {
      left: initial;
    }
  }
}
.right {
  .mood {
    right: 0;
  }
  .entity {
    flex-direction: row-reverse;
    right: calc((100vw - 900px) / 2);
    @media (max-width: 970px) {
      right: initial;
    }
  }
}
