body {
  background: #E5EBF6;
  font-family: "Maison Neue", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

@font-face {
    font-family: 'Noe Display';
    src: url('/static/fonts/NoeDisplay.woff2') format('woff2'),
        url('/static/fonts/NoeDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noe Display';
    src: url('/static/fonts/NoeDisplay-Medium.woff2') format('woff2'),
        url('/static/fonts/NoeDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('/static/fonts/MaisonNeue-Book.woff2') format('woff2'),
        url('/static/fonts/MaisonNeue-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('/static/fonts/MaisonNeue-Medium.woff2') format('woff2'),
        url('/static/fonts/MaisonNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

// .container {
//   height: 100vh;
// }

.wrapper {
  width: 900px;
  margin: 0 auto;
  @media (max-width: 970px) {
    width: 100%;
    margin: 0;
    padding: 0 30px;
  }
}

.intro {
  font-family: "Noe Display";
  font-size: 24px;
  color: rgba(0,0,0,0.60);
  letter-spacing: 0.5px;
  line-height: 36px;
  max-width: 600px;
  margin: 0 0 0 auto;
}

.headline {
  font-family: "Noe Display";
  font-weight: 500;
  font-size: 58px;
  color: #36393E;
  line-height: 55px;
  max-width: 550px;
  line-height: 1.2em;
}

.main {
  display: flex;
}
// .sidebar {
//   opacity: 0.59;
//   font-weight: 500;
//   font-size: 12px;
//   color: rgba(0,0,0,0.50);
//   letter-spacing: 0.6px;
//   line-height: 26px;
//   width: 200px;
//   margin-right: 100px;
//   text-transform: uppercase;
// }
.side {
  position: absolute;
  top: 0;
  left: -300px;
  opacity: 0.59;
  font-weight: 500;
  font-size: 12px;
  color: rgba(0,0,0,0.50);
  letter-spacing: 0.6px;
  line-height: 26px;
  width: 200px;
  margin-right: 100px;
  text-transform: uppercase;
  @media (max-width: 970px) {
    position: relative;
    left: initial;
    margin-bottom: 15px;
  }
}
.mainContent {
  flex: 1;
  margin-left: 300px;
  @media (max-width: 970px) {
    margin: 0;
  }
}
.mainIntro {
  font-family: "Noe Display";
  font-weight: 500;
  font-size: 28px;
  color: #36393E;
  line-height: 40px;
  margin: 25px 0 50px 0;
  @media (max-width: 970px) {
    margin: 25px 0 30px;
  }
}
.mainCopy {
  opacity: 0.74;
  font-size: 18px;
  color: #848D9D;
  line-height: 36px;
  p, .paragraph {
    margin-bottom: 25px;
    position: relative;
  }
}

.moreInfo {
  margin-bottom: 100px;
  @media (max-width: 970px) {
    margin-bottom: 30px;
  }
}
.moreIntro {
  width: 700px;
  margin: 0 0 0 auto;
  font-family: "Noe Display";
  font-weight: 500;
  font-size: 36px;
  color: #36393E;
  line-height: 47px;
  margin-bottom: 50px;
  @media (max-width: 970px) {
    width: 100%;
  }
}
.moreCopy {
  width: 600px;
  margin: 0 0 0 auto;
  opacity: 0.74;
  font-size: 18px;
  color: #848D9D;
  line-height: 36px;
  p {
    margin-bottom: 25px;
  }
  @media (max-width: 970px) {
    width: 100%;
  }
}

.partner {
  margin-top: 100px;
  @media (max-width: 970px) {
    margin: 0;
  }
}